#Navbar {
    color: white;
    background: #000;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 10px;
}

#navbarNav {
    display: flex;
    justify-content: flex-end;
    transition: all 0.5s ease;
}

#Nav-ul {
    list-style-type: none;
    display: inline-flex;
    gap: 11px;
}

#Nav-ul li {
    position: relative;
    transition: color 0.25s;
    display: inline-flex;
    gap: 4px;
    cursor: pointer;
    padding: 7px;
    color: white;
}

#Nav-ul li::after {
    position: absolute;
    content: "";
    inset: 0;
    background-color: #ff7519;
    scale: 0 1;
    z-index: -1;
    transition: 0.45s;
    border-radius: 6px;
}

#Nav-ul li:hover {
    color: black;
}

#Nav-ul li:hover::after {
    scale: 1 1;
}

li a{
    color: white;
    text-decoration: none;
}

#toggbtn {
    border: none;
    outline: none;
    background-color: transparent;
    width: 50px;
    height: 40px;
    color: white;
    display: none; 
}

/* Media Query for Mobile View */
@media (max-width: 768px) {
    #toggbtn {
        display: block; 
    }

    #navbarNav .block {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1;
        padding: 20px;
    }

    #Nav-ul {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    #Nav-ul span{
        display: none;
    }

    #Nav-ul li {
        font-size: 1.5rem;
    }
}

/* Animation for showing/hiding */
.show {
    display: block !important;
}
