#Project-container {
    width: 100%;
    height: 100%;
    padding: 20px;
    transition: 1s;
    background: transparent;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #8b43ff,  inset 0px 0px 10px #ffffff;
}

#project-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
}

#project-div:last-child {
    margin-bottom: 0; 
}

#pro-card {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    outline: none;
    border: none;
    background: transparent;
}

#imgr {
    width: 500px;
    border-radius: 10px;
    transition: all 0.5s ease;
    border: 2px solid red;
}

#imgr.shrink {
    width: 200px;
    height: 100%;
    border-radius: 10px;
    filter: grayscale(1);
}

#pro-txt {
    flex: 3;
    padding: 20px;
    transition: transform 0.5s ease;
    transform: translateX(100%);
}

#pro-txt.shrink {
    transform: translateX(0);
}
#toggle-btn {
    padding: 150px 10px;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background: transparent;
}

#toggle-btn:focus{
    outline: none;
    border: none;
    color: aqua;
}
#visit{
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 20px;
    border: none;
    box-shadow: 0px 0px 10px #8b43ff;
    color: white;
    text-align: center;
    font-size: large;
    font-family: serif;
}
#visit:focus{
    border: 2px solid white;
    color: #8b43ff;
}
@media  only screen and (max-width:700px) and (min-width:350px) {
    #Project-container {
        width: 100%;
        height: 100%;
        padding: 10px;
        transition: 1s;
        background: transparent;
        color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 20px #8b43ff,  inset 0px 0px 10px #ffffff;
    }
    #imgr {
        width: 70vw;
        border-radius: 10px;
        transition: all 0.5s ease;
        border: 2px solid red;
    }
    #imgr.shrink {
        width: 100px;
        border-radius: 10px;
        filter: grayscale(1);
    }
    #pro-txt.shrink {
        transform: translateX(13%);
    }
    #toggle-btn {
        padding: 150px 5px;
        font-size: 30px;
        font-weight: 900;
        cursor: pointer;
        border: none;
        color: rgb(255, 255, 255);
        background: transparent;
    }
    
}
